# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
venv.bak/
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Pyenv
.python-version

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Node
node_modules/
ui/node_modules/

# Logs and databases
*.log
*.sqlite3
output/

# Environment files
.env
.env.*

# IDE
.idea/
